@import "./Reset.css";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.appTitle {
  flex-direction: row;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 2rem;
  background-color: #ddd;
}
.appIcon {
  width: 50px;
  height: 50px;
  margin-right: 0.7rem;
}
.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  z-index: 2;
  background-color: white;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%), 5px 0 15px 0 rgb(0 0 0 / 10%);
  transition: 300ms;
}
.nav-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.fold {
  left: -16rem;
}
.fold-inChart {
  left: -40%;
}
.none {
  display: none;
}
.nav-chart {
  width: 40%;
}
.topContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 12px 10px -10px rgb(0 0 0 / 20%);
}
.sidoContainer {
  margin-bottom: 2rem;
}
.selTitle {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
.selContainer {
  width: 14rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.regionButton {
  width: 31%;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 4px;
}
.regionList {
  margin: 0 2px 4px 2px;
  width: 100%;
  text-align: center;
}
.active {
  background-color: black;
  color: white;
  border-radius: 3px;
}

.yearSelect {
  width: 14rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}
.searchCount {
  font-size: 0.75rem;
}
.yearlist {
  width: 40%;
  text-align: right;
  padding-right: 3px;
}
.spotContainer {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.spotContainer::-webkit-scrollbar {
  display: none;
}
/* .spotContainer-chart {
  padding: 1rem;
} */

.spotText {
  width: 100%;
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  padding: 1rem;
}
.spotList {
  list-style: none;
  transition: 200ms;
  display: flex;
}
.spotList:hover {
  background-color: black;
  color: white;
}
.kakaomap {
  display: flex;
  width: 100%;
  height: 100vh;
}
.goMyLocation {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  right: -4rem;
  z-index: 3;
  margin-top: 1rem;
}
.goMyLocation img {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}
.goMyLocation img:hover {
  cursor: pointer;
  background-color: #ddd;
}
.nav-fold-btn {
  box-sizing: content-box;
  position: absolute;
  bottom: 20%;
  width: 20px;
  height: 60px;
  right: -23px;
  background-color: white;
  cursor: pointer;
  padding-left: 3px;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
  box-shadow: 5px 0px 10px 0 rgb(0 0 0 / 10%);
}

.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
.bottomNav {
  width: 100%;
  display: flex;
}
.b-nav {
  height: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #ddd;
  cursor: pointer;
}
.active1 {
  background-color: white;
}
